 body{
    padding: 0;
    margin: 0;
    background-color: rgb(248, 228, 228) ;
} 

.navbar{
    padding: 0.5vmax;
    background-color: rgb(179, 54, 79);
}

.navbar li a{
 color: white;
 text-decoration: none;   
}
.navbar li{
    color: white;
    padding: 0.5vmax;
    list-style: none;
    display: inline;
}
.navbar .right{
    float: right;
padding-right: 0.5vmax;
}

.navbar li:hover{
    color: rgb(102, 8, 8);
    cursor: pointer;
}

h1{
    padding-left: 2vmax;
}

.container{
    align-items: center;
  padding-right: 5vmax;
    padding-left: 5vmax;
}

a{
    cursor: pointer;
}
a:hover{
    border: solid rgb(216, 119, 119);  
}